@import './assets/css/_index.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Cabeceras*/
.header-add{
    background-color: var(--verde);
    height: 60px;
}

.header-orders{
    background-color: var(--rojo);
    height: 60px;
}

.header-home{
    background-color: var(--black);
    height: 60px;
}

/* Scroll*/
::-webkit-scrollbar {
width: 8px;
height: 8px;
}

::-webkit-scrollbar-track {
background: #f1f1f1;
border-radius: 4px;
}

::-webkit-scrollbar-thumb {
background: #888;
border-radius: 4px;
}
